<div class="sidenav-header">
  <img
    [width]="profilePicSize()"
    [height]="profilePicSize()"
    src="/assets/profile.jpg"
    alt="profile-photo"
  />
  <div class="header-text" [class.hide-header-text]="sideNavCollapsed()">
    <h2>Ramon Trindade</h2>
    <p>Desenvolvedor Front-End</p>
  </div>
</div>
<mat-nav-list>
  <a
    class="menu-item"
    mat-list-item
    *ngFor="let item of menuItems()"
    [routerLink]="item.route"
    routerLinkActive="selected-menu-item"
    #rla="routerLinkActive"
    [activated]="rla.isActive"
  >
    <mat-icon matListItemIcon
      [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'"
      >{{ item.icon }}</mat-icon
    >
    <span matListItemTitle *ngIf="!sideNavCollapsed()">{{
      item.label
    }}</span></a
  >
</mat-nav-list>
