:host * {
  transition: all 500ms ease-in-out;
}

.sidenav-header {
  padding-top: 24px;
  text-align: center;
  overflow: hidden;

  > img {
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 10px;
  }
}
.header-text {
  height: 3.5rem;

  > h2 {
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-transform: uppercase;
  }
  > p {
    margin: 0;
    font-size: 0.7rem;
    line-height: 1rem;
  }
}

.hide-header-text {
  opacity: 0;
  height: 0px !important;
}
.menu-item {
  border-left-color: rgba(0, 0, 0, 0);
}
.selected-menu-item {
  border-left: 5px solid;
  background: rgba(0, 0, 0, 0.05);
}
a {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}