<h1>Sobre mim</h1>
<section>
  <p>
    Olá, meu nome é Ramon Trindade e sou desenvolvedor Front-End. Sou estudante
    de Análise e Desenvolvimento de Sistemas e estou comprometido em expandir
    minha expertise na programação, buscando evoluir constantemente. Atualmente,
    estou focado em aprofundar meu conhecimento em Angular.
  </p>
  <p>
    Além disso, tenho experiência no desenvolvimento de APIs utilizando NodeJs e
    Express, e possuo conhecimentos em banco de dados MySQL. Estou sempre em
    busca de novas oportunidades para aprimorar minhas habilidades e contribuir
    para projetos desafiadores.
  </p>
</section>
<div class="content">
  <article class="card">
    <h2>Front-End</h2>
    <img src="front-end.svg" alt="" />
    <p>
      Desenvolvimento de aplicações web com Angular, utilizando HTML, CSS,
      JavaScript e Typescript . Criação de interfaces responsivas e dinâmicas,
      utilizando componentes e serviços para interação com APIs.
    </p>
  </article>
  <article class="card">
    <h2>Designer Responsivo</h2>
    <img src="responsive.svg" alt="Responsive Design Icon" />
    <p>
      Criação de layouts adaptáveis e responsivos para diferentes tamanhos de
      tela, garantindo uma experiência de usuário consistente em dispositivos
      móveis, tablets e desktops. Utilização de técnicas modernas de design,
      como flexbox e grid, para construir interfaces fluidas e acessíveis.
    </p>
  </article>
  <article class="card">
    <h2>Back-End</h2>
    <img src="back-end.svg" alt="Back-End Icon" />
    <p>
      Desenvolvimento de APIs RESTful com Node.js e Express. Gerenciamento de
      banco de dados com MySql e integração de serviços back-end com aplicações
      front-end para criar sistemas completos e funcionais.
    </p>
  </article>
</div>
