:host {
  color: #fff;
  overflow: hidden;
}
section {
  background-color: transparent;
  border-radius: 2px;
  max-width: 100%;
  width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;

  > p {
    margin: 0;
    padding: 10px;
    font-size: 1.3rem;
    text-align: justify;
    line-height: 1.5;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-bottom: 10px;
  }
}
h1 {
  font-size: 1rem;
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  color: white;
  letter-spacing: 10px;
  background-color: #15001fd5;
  border-radius: 10px;
  width: 250px;
  margin: 15px auto;
  margin-top: 250px;
  padding: 10px;
  text-align: center;
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.card {
  box-shadow: 6px 7px 18px 0px rgba(0, 0, 0, 0.288);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  width: 300px;
  background-color: #15001fd5;
  padding: 10px;
  text-align: center;
  > img {
    width: 100px;
  }
  > h2 {
    text-transform: uppercase;
    color: #666666;
  }
  > p {
    font-size: 1.1rem;
  }
}

h1::before,
h1::after {
  content: '';
  position: absolute;
  width: 50%;
  border-top: 2px solid #15001fd5;
}

h1::before {
  top: 50%;
  transform: translate(-150%);
}

h1::after {
  top: 50%;
  transform: translate(50%);
}
