<header>
  <nav class="navbar">
    <div class="name">
      <span>Ramon Trindade</span>
      <mat-icon style="color: aquamarine">terminal</mat-icon>
    </div>
    <ul class="navbar-menu">
      <li><a href="#projetos">Projetos</a></li>
      <li><a href="#tecnologias">Tecnologias</a></li>
      <li><a href="#experiencia">Experiência</a></li>
      <li><a href="#sobre-mim">Sobre mim</a></li>
    </ul>
    <mat-icon class="hamburger-menu" (click)="toggleMobileMenu()">
      menu
    </mat-icon>
  </nav>
  <div class="mobile-menu" [class.active]="isMobileMenuActive">
    <mat-icon class="close-menu" (click)="closeMobileMenu()">close</mat-icon>
    <ul>
      <li><a href="#projetos" (click)="closeMobileMenu()">Projetos</a></li>
      <li>
        <a href="#tecnologias" (click)="closeMobileMenu()">Tecnologias</a>
      </li>
      <li>
        <a href="#experiencia" (click)="closeMobileMenu()">Experiência</a>
      </li>
      <li><a href="#sobre-mim" (click)="closeMobileMenu()">Sobre mim</a></li>
    </ul>
  </div>
</header>
