<header>
  <nav class="navbar">
    <div class="name">
      <span>Ramon Trindade</span>
      <mat-icon style="color: aquamarine">terminal</mat-icon>
    </div>
    <ul class="navbar-menu">
      <li><a (click)="scrollToTecnology()">Projetos</a></li>
      <li><a (click)="scrolToExperience()">Experiência</a></li>
      <li><a (click)="scrollToAbout()">Sobre mim</a></li>
      <li><a (click)="scrolToContact()">Contato</a></li>
    </ul>
    <mat-icon class="hamburger-menu" (click)="toggleMobileMenu()">
      menu
    </mat-icon>
  </nav>
  <div class="mobile-menu" [class.active]="isMobileMenuActive">
    <mat-icon class="close-menu" (click)="closeMobileMenu()">close</mat-icon>
    <ul>
      <li><a (click)="scrollToTecnology()">Projetos</a></li>
      <li><a (click)="scrolToExperience()">Experiência</a></li>
      <li><a (click)="scrollToAbout()">Sobre mim</a></li>
      <li><a (click)="scrolToContact()">Contato</a></li>
    </ul>
  </div>
</header>
