<mat-dialog-content class="animate__animated animate__bounceInRight">
  <form
    [formGroup]="contactForm"
    (ngSubmit)="handleSubmit()"
    class="emailForm mat-elevation-z4"
  >
    <div class="home-img">
      <a
        href="https://github.com/ramontrndd"
        target="_blank"
        matTooltip="Ir para GitHub"
      >
        @if (themeService.themeSignal() === 'dark') {
        <i class="devicon-github-original-wordmark"></i>
        } @else {
        <i class="devicon-github-original-wordmark colored"></i>
        }
      </a>

      <a
        href="https://www.linkedin.com/in/ramontrndd/"
        target="_blank"
        matTooltip="Ir para Linkedin"
      >
        @if (themeService.themeSignal() === 'dark') {

        <i class="devicon-linkedin-plain"></i>

        } @else {

        <i class="devicon-linkedin-plain colored"></i>

        }
      </a>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input
        matInput
        type="text"
        placeholder="Digite seu nome"
        formControlName="name"
        required
        minlength="3"
        maxlength="50"
      />
      <mat-error
        *ngIf="
          contactForm.get('name')?.invalid &&
          (contactForm.get('name')?.dirty || contactForm.get('name')?.touched)
        "
      >
        O nome é obrigatório e deve ter entre 3 e 50 caracteres.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        placeholder="Digite seu Email"
        formControlName="email"
        required
      />
      <mat-error
        *ngIf="
          contactForm.get('email')?.invalid &&
          (contactForm.get('email')?.dirty || contactForm.get('email')?.touched)
        "
      >
        Por favor, insira um endereço de email válido.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Mensagem</mat-label>
      <textarea
        matInput
        cols="30"
        rows="5"
        placeholder="Escreva sua mensagem"
        formControlName="message"
        required
      ></textarea>
      <mat-error
        *ngIf="
          contactForm.get('message')?.invalid &&
          (contactForm.get('message')?.dirty ||
            contactForm.get('message')?.touched)
        "
      >
        A mensagem é obrigatória.
      </mat-error>
    </mat-form-field>
    <button

      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!(contactForm.valid && contactForm.dirty)"
    >
      Enviar
    </button>
  </form>
</mat-dialog-content>
