<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->

<main
  class="parent-container animate__animated animate__fadeIn animate__delay-1s"
>
  @for (project of projects; track project; let i = $index) {
  <mat-card class="container">
    <mat-card-content>
      <mat-card-title>
        <h1>{{ project.title }}</h1>
      </mat-card-title>
      <mat-card-subtitle>
        @for (label of project.label; track $index) {
        <button>{{ label }}</button> }
      </mat-card-subtitle>
      <img mat-card-image src="{{ project.image }}" alt="{{ project.alt }}" />
      <div class="text-container" [ngClass]="{ expanded: expanded[i] }">
        <p>
          {{
            expanded[i]
              ? project.description
              : (project.description | slice : 0 : textLimit) + '...'
          }}
          @if (project.description.length > textLimit) {
          <a (click)="toggleText(i)" tabindex="0" class="read-more">
            {{ expanded[i] ? 'Ver menos' : 'Ver mais' }}
          </a>
          }
        </p>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <a mat-button href="{{ project.github }}" target="_blank"
        ><mat-icon>terminal</mat-icon>GitHub</a
      >

      <a mat-button href="{{ project.demo }}" target="_blank"
        ><mat-icon>language</mat-icon>Demo</a
      >
    </mat-card-actions>
  </mat-card>
  }
</main>
