.container {
  margin: 10px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  background-color: #15001f9d;
  width: 350px;
  max-width: 500px;
  display: block;
}

.parent-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}
mat-card-title {
  h1 {
    font-size: 1.3rem;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 3px;
    text-align: center;
  }
}

mat-card-content {
  p {
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    text-align: justify;
  }

  img {
    margin: 10px auto;
    width: 320px;
    height: 200px;
    display: block;
    border-radius: 4px;
  }
}

mat-card-subtitle {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  flex-wrap: wrap;

  button {
    text-transform: uppercase;
    background-color: aquamarine;
    font-size: 0.7rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: #000000;
    text-align: center;
    border: none;
    padding: 10px;
    border-radius: 30px;
  }
}

mat-card-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  a {
    text-transform: uppercase;
    background-color: #fff;
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: #000000;
    text-align: center;
    border: none;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 10px;
  }
}

.text-container {
  max-height: 150px; /* Altura inicial */
  overflow: hidden;
  transition: max-height 0.5s ease-in-out; /* Transição suave */
}

.text-container.expanded {
  max-height: 1000px; /* Altura máxima quando expandido (ajuste conforme necessário) */
}

.read-more {
  color: #007bff;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
}

.read-more:hover {
  text-decoration: underline;
}
