.container {
  margin: 10px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  background-color: #15001f9d;
  width: 400px;
  max-width: 500px;
  display: inline-flex;
  margin-left: 60px;
}
mat-card-title {
  h1 {
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 5px;
    text-align: center;
  }
}

mat-card-content {
  p {
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    text-align: justify;
  }

  img {
    margin: 10px auto;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
  }
}

mat-card-subtitle {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  flex-wrap: wrap;

  button {
    text-transform: uppercase;
    background-color: aquamarine;
    font-size: 0.7rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: #000000;
    text-align: center;
    border: none;
    padding: 10px;
    border-radius: 30px;
  }
}

mat-card-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  a {
    text-transform: uppercase;
    background-color: #fff;
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: #000000;
    text-align: center;
    border: none;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 10px;
  }
}
.text-container {
  max-height: 150px; /* Altura inicial */
  overflow: hidden;
  transition: max-height 0.5s ease-in-out; /* Transição suave */
}

.text-container.expanded {
  max-height: 1000px; /* Altura máxima quando expandido (ajuste conforme necessário) */
}

.read-more {
  color: #007bff;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
}

.read-more:hover {
  text-decoration: underline;
}

h3 {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  color: white;
  letter-spacing: 10px;
  background-color: #15001fd5;
  border-radius: 10px;
  width: 250px;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
}

h3::before,
h3::after {
  content: '';
  position: absolute;
  width: 50%;
  border-top: 2px solid #15001fd5;
}

h3::before {
  top: 50%;
  transform: translate(-150%);
}

h3::after {
  top: 50%;
  transform: translate(150%);
}
