<main>
  <section>
    <h1>
      Hello👋<br />
      This is <span class="name">Ramon Trindade.</span><br />
      I'm a Profissional
    </h1>
    <div class="typing-container">Software Developer.</div>
  </section>
  <article class="card">
    <header class="titlebar">
      <span class="buttons">
        <button class="minimize" aria-label="Minimize">
          <svg x="0px" y="0px" viewBox="0 0 10.2 1">
            <rect x="0" y="50%" width="10.2" height="1"></rect>
          </svg>
        </button>
        <button class="maximize" aria-label="Maximize">
          <svg viewBox="0 0 10 10">
            <path d="M0,0v10h10V0H0z M9,9H1V1h8V9z"></path>
          </svg>
        </button>
        <button class="close" aria-label="Close">
          <svg viewBox="0 0 10 10">
            <polygon
              points="10.2,0.7 9.5,0 5.1,4.4 0.7,0 0,0.7 4.4,5.1 0,9.5 0.7,10.2 5.1,5.8 9.5,10.2 10.2,9.5 5.8,5.1"
            ></polygon>
          </svg>
        </button>
      </span>
    </header>
    <section class="cppcode">
      <pre id="pre"><code>
  <span class="s1">const</span> <span class="s2">coder</span> <span class="operator">=</span> <span class="curlies">{{ '{' }}</span>
    <span class="s1">name</span>: <span class="s2">'Ramon Trindade'</span>,
    <span class="s1">skills</span>: <span class="rounds">[</span>
    <span class="s2">  'Angular',</span>
    <span class="s2">  'NodeJS',</span>
    <span class="s2">  'Typescript',</span>
    <span class="s2">  'Express',</span>
    <span class="s2">  'MySql',</span>
    <span class="s2">  'PrimeNG',</span>
    <span class="s2">  'Bootstrap',</span>
    <span class="s2">  'Angular Material',</span>
    <span class="s2">  'Docker'</span>
    <span class="rounds">]</span>,
    <span class="s1">hardWorker</span>: <span class="boolean">true</span>,
    <span class="s1">quickLearner</span>: <span class="boolean">true</span>,
    <span class="s1">problemSolver</span>: <span class="boolean">true</span>,
    <span class="s1">hireable</span>: <span class="function">function()</span> <span class="curlies">{{ '{' }}</span>
      <span class="s3">return</span> (
        <span class="s4">this.hardWorker</span> <span class="operator">&&</span>
        <span class="s4">this.problemSolver</span> <span class="operator">&&</span>
        <span class="s4">this.skills.length</span> <span class="operator">&gt;=</span> 5
      );<br>
    <span class="curlies">{{ '}' }}</span>
  <span class="curlies">{{ '}' }}</span>
      </code></pre>
    </section>
  </article>
</main>
