.card-container{
  display: inline-flex;
}
.card-content {
  max-width: 300px;
  margin: 15px;
}
.tech-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

mat-card-actions {
  > button,
  a {
    margin: 5px;
  }
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
mat-card-content {
  > p {
    margin-top: 10px;
    text-align: justify;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
}

mat-card-actions {
  > button,
  a {
    width: 100%;
    text-transform: uppercase;
  }
}
