<div class="card-container">
  <mat-card class="card-content mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Pokedex</mat-card-title>
      <mat-card-subtitle>Projeto Front-End</mat-card-subtitle>
    </mat-card-header>
    <div class="tech-icons">
      <p-avatar
        image="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
        styleClass="mr-3"
        shape="circle"
      ></p-avatar>
      <p-avatar
        image="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"
        styleClass="mr-3"
        shape="circle"
      ></p-avatar>
      <p-avatar
        image="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"
        styleClass="mr-3"
        shape="circle"
      ></p-avatar>
    </div>
    <img src="assets/project/project-pokedex2.png" />
    <mat-card-content>
      <p>
        Projeto Pokédex, desenvolvi um layout interativo e dinâmico usando
        JavaScript, HTML e CSS e a partir do consumo da API do pokeapi.co, o
        projeto, contem uma barra de pesquisa, com alteração Dinâmica dos
        status, imagem e tipos de Pokemon, além do layout ser responsivo
        adaptado para qualquer tipo de tela.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a
        href="https://github.com/ramontrndd/new-pokedex"
        target="_blank"
        color="primary"
        mat-raised-button
        >Github</a
      >
      <a
        href="https://ramontrndd.github.io/new-pokedex/"
        target="_blank"
        color="primary"
        mat-raised-button
        >Deploy</a
      >
    </mat-card-actions>
  </mat-card>

  <mat-card class="card-content mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Cafe-Management</mat-card-title>
      <mat-card-subtitle>Projeto Front-End</mat-card-subtitle>
    </mat-card-header>
    <div class="tech-icons">
      <p-avatar
        image="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"
        styleClass="mr-3"
        shape="circle"
      ></p-avatar>
      <p-avatar
        image="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"
        styleClass="mr-3"
        shape="circle"
      ></p-avatar>
      <p-avatar
        image="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"
        styleClass="mr-3"
        shape="circle"
      ></p-avatar>
      <p-avatar
        image="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/sass/sass-original.svg"
        styleClass="mr-3"
        shape="circle"
      ></p-avatar>
    </div>
    <img src="assets/project/project-cafe-management.png" />
    <mat-card-content>
      <p>
        Cafe-Management - Front-End: é um projeto desenvolvido com Angular,
        projetado para facilitar a gestão de cafeterias. Com um layout
        responsivo e intuitivo, oferece uma experiência ao usuário em qualquer
        dispositivo, Utilizando SCSS para estilos, o projeto garante uma
        apresentação visualmente atraente e personalizável.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a
        href="https://github.com/ramontrndd/cafe-management-front"
        target="_blank"
        color="primary"
        mat-raised-button
        >Github</a
      >
      <a
        href="https://ramontrndd.github.io/cafe-management-front/"
        target="_blank"
        color="primary"
        mat-raised-button
        >Deploy</a
      >
    </mat-card-actions>
  </mat-card>

  <mat-card class="card-content mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Cafe-Management</mat-card-title>
      <mat-card-subtitle>Projeto Back-End</mat-card-subtitle>
    </mat-card-header>
    <div class="tech-icons">
      <p-avatar
        image="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-plain-wordmark.svg"
        styleClass="mr-3"
        shape="circle"
      ></p-avatar>
      <p-avatar
        image="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original-wordmark.svg"
        styleClass="mr-3"
        shape="circle"
      ></p-avatar>
      <p-avatar
        image="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/express/express-original.svg"
        styleClass="mr-3"
        shape="circle"
      ></p-avatar>
    </div>
    <img src="assets/project/project-cafe-management1.png" />
    <mat-card-content>
      <p>
        Cafe-Management - Back-End: Desenvolvi API's utilizando Node.js e
        Express, conectadas a um Banco de Dados MySQL. As API's abrangem
        usuários, produtos, contas e um dashboard, possibilitando diversas
        interações com o banco de dados, incluindo operações CRUD para uma
        gestão eficiente.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a
        href="https://github.com/ramontrndd/cafe-management-backend"
        target="_blank"
        color="primary"
        mat-raised-button
        >Github</a
      >
    </mat-card-actions>
  </mat-card>
</div>
