<mat-card>
    <div class="about-content">
        <h1 class="typing-cursor">Sobre mim</h1>
        <p>
          Minha jornada no mundo da tecnologia começou nos vibrantes anos 2000,
          quando tive meu primeiro contato com computadores. Fascinado pelo
          potencial transformador da tecnologia, decidi dedicar minha carreira ao
          campo da informática. Com o passar dos anos, adquiri habilidades técnicas
          valiosas e experiência como técnico em informática, resolvendo uma
          variedade de desafios tecnológicos para empresas e indivíduos. <br />No
          início de 2022, decidi dar um novo rumo à minha trajetória profissional.
          Inspirado pelo constante avanço da programação e suas infinitas
          possibilidades, decidi voltar aos estudos para aprimorar minhas
          habilidades nesse campo dinâmico. Desde então, tenho mergulhado no mundo
          da programação, explorando linguagens, desenvolvendo projetos e expandindo
          meu conhecimento para acompanhar as tendências tecnológicas em constante
          evolução.
        </p>
        <h2 class="typing-cursor">Experiência Profissional</h2>
    
        <p>
          Durante minha carreira como técnico em tive a oportunidade de trabalhar
          com uma variedade de sistemas operacionais, hardware e software,
          proporcionando soluções eficazes para problemas tecnológicos complexos.
          <br />Minha experiência prática me deu uma compreensão sólida das
          necessidades dos usuários e a capacidade de encontrar soluções inovadoras
          para os desafios que surgem no mundo digital.
        </p>
        <h2 class="typing-cursor">Metas Futuras</h2>
        <p>
          Minha jornada na programação está apenas começando, e estou empolgado com
          as possibilidades que o futuro reserva. Tenho como objetivo aprimorar
          minhas habilidades de desenvolvimento, contribuir para projetos inovadores
          e, em última análise, me tornar um desenvolvedor Full Stack, capaz de
          criar soluções web abrangentes que proporcionem valor aos usuários e às
          empresas. Estou sempre aberto a novas oportunidades, colaborações e
          desafios que me permitam expandir meu conhecimento e criar soluções
          tecnológicas significativas. Se você está interessado em trabalhar juntos
          ou apenas quer trocar ideias sobre tecnologia e programação, ficarei feliz
          em conversar!
        </p>
      </div>
</mat-card>