<app-header></app-header>
<app-home></app-home>
<app-guide-button [title]="'Tecnologias'"></app-guide-button>
<app-skills></app-skills>
<app-guide-button [title]="'Projetos'"></app-guide-button>
<app-project></app-project>
<app-guide-button [title]="'Sobre mim'"></app-guide-button>
<app-about></app-about>
<app-guide-button [title]="'Experiência'"></app-guide-button>
<app-experience></app-experience>
<app-guide-button [title]="'Contato'"></app-guide-button>
<app-contact></app-contact>
<router-outlet />
