:host * {
  transition: all 200ms ease-in-out;
}
.home-text {
  > h1 {
    margin: 0;
    font-weight: bold;
  }
  > h2 {
    margin: 0;
    letter-spacing: 0.3rem;
  }
  > h4 {
    font-weight: bold;
  }

  font-family: "Poppins", sans-serif;
}
.home-img {
  i {
    font-size: 3rem;

  }
  > a {
    padding: 10px;
    text-decoration: none;
    color: white;
  }
  margin-bottom: 30px;
}
.home-links {
  > button,
  a {
    margin: 5px;
  }
}

.home-img {
  > img {
    width: 100%;
    border-radius: 100%;
    border: 2px solid #0076b2;
    padding: 10px;
  }
}

.home-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
}

@media screen and (min-width: 280px) and (max-width: 720px) {
  .home-container {
    flex-direction: column-reverse;
    margin: 15px;
  }
  .home-img {
    margin-bottom: 10px;
  }
  .home-text {
    > h2 {
      letter-spacing: 0;
    }
    > h1,
    h2,
    h4 {
      margin-bottom: 5px;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .home-container {
    margin: 20px;
  }
}
