<div class="home-container">
  <div class="home-content">
    <div class="home-text">
      <h1>Olá! Eu sou Ramon Trindade.</h1>
      <h2>Desenvolvedor Front End.</h2>
      <h4>Focado em desenvolver códigos limpos, eficientes e elegantes.</h4>
    </div>
    <div class="home-img">
      <a
        href="https://github.com/ramontrndd"
        target="_blank"
        matTooltip="Ir para GitHub"
      >
        @if (themeService.themeSignal() === 'dark') {
        <i class="devicon-github-original-wordmark"></i>
        } @else {
        <i class="devicon-github-original-wordmark colored"></i>
        }
      </a>

      <a
        href="https://www.linkedin.com/in/ramontrndd/"
        target="_blank"
        matTooltip="Ir para Linkedin"
      >
        @if (themeService.themeSignal() === 'dark') {

        <i class="devicon-linkedin-plain"></i>

        } @else {

        <i class="devicon-linkedin-plain colored"></i>

        }
      </a>
    </div>

    <div class="home-links">
      <a
        matTooltip="Baixe meu curriculo"
        mat-raised-button
        color="primary"
        href="assets/curriculo.pdf"
        target="_blank"
        >Download CV</a
      >
      <button
        matTooltip="Veja meus projetos!"
        mat-raised-button
        color="primary"
        routerLink="/project"
      >
        Projetos
      </button>
      <button
        matTooltip="Entre em contato!"
        mat-raised-button
        color="primary"
        routerLink="/contact"
      >
        Contate-me!
      </button>
    </div>
  </div>

  <div class="home-img">
    <img src="assets/profile2.jpg" alt="profile image" />
  </div>
</div>
