<div class="tech-container animate__animated animate__fadeInRight">
  <mat-card class="mat-elevation-z4">
    <mat-card-title>Angular</mat-card-title>
    <mat-card-content>
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-plain.svg"
        width="150px"
        height="150px"
      />
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-footer>
      <mat-progress-bar
        mode="indeterminate"
        class="progress-angular"
      ></mat-progress-bar>
    </mat-card-footer>
  </mat-card>

  <mat-card class="mat-elevation-z4">
    <mat-card-title>TypeScript</mat-card-title>
    <mat-card-content>
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-plain.svg"
        width="150px"
        height="150px"
      />
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>

  <mat-card class="mat-elevation-z4">
    <mat-card-title>NodeJS</mat-card-title>
    <mat-card-content>
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-original-wordmark.svg"
        width="150px"
        height="150px"
      />
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>

  <mat-card class="mat-elevation-z4">
    <mat-card-title>GIT</mat-card-title>
    <mat-card-content>
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"
        width="150px"
        height="150px"
      />
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>

  <mat-card class="mat-elevation-z4">
    <mat-card-title>GitHub</mat-card-title>
    <mat-card-content>
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original-wordmark.svg"
        width="150px"
        height="150px"
      />
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>

  <mat-card class="mat-elevation-z4">
    <mat-card-title>MySQL</mat-card-title>
    <mat-card-content>
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg"
        width="150px"
        height="150px"
      />
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>

  <mat-card class="mat-elevation-z4">
    <mat-card-title>HTML5</mat-card-title>
    <mat-card-content>
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"
        width="150px"
        height="150px"
      />
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>

  <mat-card class="mat-elevation-z4">
    <mat-card-title>CSS3</mat-card-title>
    <mat-card-content>
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"
        width="150px"
        height="150px"
      />
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>
