mat-card {
  display: inline-flex;
  width: 250px;
  padding: 10px;
  margin: 20px;
}
mat-card-content {
  > img {
    margin-bottom: 10px;
  }
  display: flex;
  align-items: center;
  flex-direction: column;
}

mat-card-title {
  text-align: center;
}
.tech-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}
