<section
  class="carousel animate__animated animate__fadeIn animate__delay-.5s"
  (mouseover)="pauseAnimation()"
  (mouseleave)="resumeAnimation()"
  (focus)="pauseAnimation()"
>
  <div class="carousel-inner" #carouselInner>
    @for (card of cardSKills; track $index) {
    <ng-container>
      <article class="card">
        <figure class="package">
          <div class="package2">
            <img [src]="card.image" alt="Avatar" class="image" />
            <figcaption class="text">{{ card.title }}</figcaption>
          </div>
        </figure>
      </article> </ng-container
    >}
  </div>
</section>
