:host {
  display: block;
  width: 100%;
  overflow: hidden;
}

.carousel {
  position: relative;
  width: 30%;
  height: auto; /* Ajuste conforme necess치rio */
}

.carousel-inner {
  display: flex;
  width: 100%;
  animation: scroll 10s linear infinite;
}

.card {
  align-items: center;
  flex: 0 0 auto; /* Ajuste conforme necess치rio */
  width: 200px; /* Ajuste conforme necess치rio */
}

.package {
  width: 169px;
  height: 150px;
  background-image: linear-gradient(163deg, #ec4899 0%, #16f2b3 100%);
  border-radius: 20px;
  text-align: center;
  transition: all 0.25s cubic-bezier(0, 0, 0, 1);
}

.package:hover {
  box-shadow: 0px 0px 50px 1px rgba(204, 0, 255, 0.3);
}

.package2 {
  width: 139px;
  height: 120px;
  background-color: #15001f;
  border-radius: 20px;
  transition: all 0.25s cubic-bezier(0, 0, 0, 1);
  padding: 15px;
  cursor: pointer;
}

.package2:hover {
  transform: scale(0.98);
  border-radius: 18px;
}

.text {
  color: #fff;
  font-size: 17px;
}

img {
  max-width: 75px; /* Ajuste conforme necess치rio */
  height: auto;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.pause-animation {
  animation-play-state: paused;
}
h3 {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  color: white;
  letter-spacing: 10px;
  background-color: #15001fd5;
  border-radius: 10px;
  width: 250px;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
}

h3::before,
h3::after {
  content: '';
  position: absolute;
  width: 50%;
  border-top: 2px solid #15001fd5;
}

h3::before {
  top: 50%;
  transform: translate(-150%);
}

h3::after {
  top: 50%;
  transform: translate(150%);
}
