<h3>Tecnologias</h3>
<section
  class="carousel"
  (mouseover)="pauseAnimation()"
  (mouseleave)="resumeAnimation()"
  (focus)="pauseAnimation()"
>
  <div class="carousel-inner" #carouselInner>
    @for (card of cardSKills; track card) {
    <article class="card">
      <figure class="package">
        <div class="package2">
          <img [src]="card.image" alt="Avatar" class="image" />
          <figcaption class="text">{{ card.title }}</figcaption>
        </div>
      </figure>
    </article>
    }
  </div>
</section>
