@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
html {
  min-height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-image: linear-gradient(
    to right bottom,
    #000000,
    #17050e,
    #210a1a,
    #290e28,
    #2e1239,
    #2e1541,
    #2c184a,
    #281c53,
    #281c52,
    #281c51,
    #281c51,
    #281c50
  );
  background-size: cover;
  background-repeat: no-repeat;
}
