/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// STYLE SNACK BAR

.mat-mdc-snack-bar-container {
    &.green-snackbar {
      --mdc-snackbar-container-color: #0076B2 !important;
      --mat-mdc-snack-bar-button-color: #fff !important;
      --mdc-snackbar-supporting-text-color: #fff !important;
    }
    text-align: center;

    font-weight: bold;
  }
  .mat-mdc-snack-bar-container {
    &.black-snackbar {
      --mdc-snackbar-container-color: black !important;
      --mat-mdc-snack-bar-button-color: #fff !important;
      --mdc-snackbar-supporting-text-color: #fff !important;
    }
    text-align: center;
    
    font-weight: bold;
  }
  .mat-snack-bar-container {
    margin-right: auto !important;
    margin-left: auto !important;
    width: 40vw !important;
    min-width: 90% !important;
    max-width: 100vw !important;
    margin-top: 70px !important;
    padding: 20px !important;
  }